<div id="<%= dom_id to_do %>">
  <p>
    <strong>Name:</strong>
    <%= to_do.name %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= to_do.remarks %>
  </p>

  <p>
    <strong>Date to be completed:</strong>
    <%= to_do.date_to_be_completed %>
  </p>

</div>
